.crack-bar {
  position: fixed;
  top: 30px;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  width: 250px;
  background: white;
  border-radius: 5px;
}

li a {
  background-color: #F44336;
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .2);
  margin: 10px;
  color: white;
  border-radius: 15px;
  height: 50px;

}

.title-user {
  color: #FFFFFF;
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
  padding: 15px;
  font-size: 20px;
  margin: -20px 15px 0;
  background: linear-gradient(60deg, #26C6DA, #00ACC1);
  font-weight: 300;
  line-height: 1.5em;
  border-radius: 30px;
}

.hr {
  border-top: 1px solid #DDDDDD;
}

p {
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

.nav {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  top: 50px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

