<div class="crack-bar" data-color="red" data-image="">
  <div class="title-user text-center" data-background-color="blue">
    <div class="title">User List</div>
  </div>
  <ul class="nav">

    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>
    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>

    <li class="active-pro">
      <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar"/>
        <p>trhjz('j-(</p>
      </a>
    </li>



    <!--<li class="active-pro" *ngFor="let user of users">-->
    <!--<a>-->
    <!--<i class="material-icons pull-left">{{user.login}} -->
    <!--</a>-->
    <!--</li>-->

  </ul>
</div>
