#messages {
  position: absolute;
  left: 10px;
  top: 20px;
  right: 0px;
  bottom: 0px;
  margin: 10px !important;
  width: auto !important;

}

.card-content {
  overflow: auto;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0px;
  right: 0px;
}

p {
  border-bottom: 1px solid #DDDDDD;
  padding: 5px;
}

.specific {
  border-radius: 30px;
}
