<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">User</h4>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty is-focused">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="user.login" name="username">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty is-focused">
                    <label class="control-label">Password </label>
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="pass">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-danger pull-right" (click)="log()">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
