<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <router-outlet></router-outlet>
  </div>
</div>
