<div class="form-group form-black label-floating is-empty" id="send">
  <input class="form-control pull-left" type="text" [(ngModel)]="message">
  <button class="btn btn-danger pull-right" type="submit" (click)="send()">Send</button>
</div>
