#send {
  height: 60px;
  bottom: 10px;
  right: 10px;
  left: 40px;
  position: absolute;
}

#send .form-control {
  width: calc(100% - 105px);
  margin-top: 15px;
}

.btn-danger {
  margin-right: 5px;
  margin-top: 15px;
}
